html, body {
  height: 100%;
}

.container{
  width:1025px;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;
  background-color: gold;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

.services-section img {

}

.services-section-title {
  min-width:275px;
}

.services-section-title img{
  margin: auto;
  display: block;
}

#logoArea{
  width: 250px;
  height: 250px;
  margin: auto;
  display: block;
  position: relative;
  background-color:red;
}

#LogoOuterRing {
  height: 250px;
  width: 250px;
  background-image: url("../Icons/LogoParts/OuterRing.svg");
  top: 0px;
  background-size:cover;
  background-repeat: no-repeat;
  position:absolute;


      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 2s; /* Firefox < 16 */
          -ms-animation: fadein 2s; /* Internet Explorer */
           -o-animation: fadein 2s; /* Opera < 12.1 */
              animation: fadein 2s;
}


@keyframes fadein {
    from {
      opacity: 0;
      transform: rotateY(0deg);
    }
    to   {
      opacity: 1;
      transform: rotateY(720deg);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    transform: rotateY(0deg);
  }
  to   {
    opacity: 1;
    transform: rotateY(720deg);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: rotateY(0deg);
  }
  to   {
    opacity: 1;
    transform: rotateY(720deg);
}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    transform: rotateY(0deg);
  }
  to   {
    opacity: 1;
    transform: rotateY(720deg);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
    transform: rotateY(0deg);
  }
  to   {
    opacity: 1;
    transform: rotateY(720deg);
  }
}


#LogoName {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 12s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 12s; /* Firefox < 16 */
        -ms-animation: fadein 12s; /* Internet Explorer */
         -o-animation: fadein 12s; /* Opera < 12.1 */
            animation: fadein 12s;
}


#LogoTopStopper{
    left: 50%;
    top: 0%;
    position: absolute;
    margin-top: -60px;
    margin-left: -35px;
    animation-delay: 5s;
    height: 64px;
    width: 75px;
    background-image: url("../Icons/LogoParts/TopStopper.svg");
    opacity: 0;

    -webkit-animation: TopStopperAnimate 2s ease-out 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: TopStopperAnimate 2s ease-out 2s; /* Firefox < 16 */
        -ms-animation: TopStopperAnimate 2s ease-out 2s; /* Internet Explorer */
         -o-animation: TopStopperAnimate 2s ease-out 2s; /* Opera < 12.1 */
            animation: TopStopperAnimate 2s ease-out 2s;
}

@keyframes TopStopperAnimate {
    from {
      opacity: 0;
      top: -200px;
    }
    to   {
      opacity: 1;
      top: 0px;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    top: -200px;
  }
  to   {
    opacity: 1;
    top: 0px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    top: -200px;
  }
  to   {
    opacity: 1;
    top: 0px;
}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    top: -200px;
  }
  to   {
    opacity: 1;
    top: 0px;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
    top: -200px;
  }
  to   {
    opacity: 1;
    top: 0px;
  }
}




#LeftStopper {
  left: 15%;
  top: 0%;
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}

#RightStopper {
  left: 95%;
  top: 0%;
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}

#LongArm{
  left: 75%;
  top: 10%;
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}

#Head {
  left: 52.5%;
  top: 14%;
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}

#TopBody{
  left: 52.5%;
  top: 37%;
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}

#RightLeg{
  left: 67%;
  top: 52.5%;
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}

#LeftLeg{
  left: 48%;
  top: 60%;
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}

#LogoArmShort{
  left: 37%;
  top: 32%;
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}

#LogoArmLong{
  left: 70%;
  top: 27%;
  position: absolute;
  margin-top: 10px;
  margin-left: -35px;
}
